@media only screen and (max-width: 500px) {
    .navbar-item {
        padding: 12px;
    }
    .navbar-item-desktop-hidden, .navbar-item-tablet-hidden {
        display: block;
    }
    .navbar-item-mobile-hidden {
        display: none;
    }
}
