@media only screen and (max-width: 1025px) {
    .navbar-item {
        padding: 12px;
    }
    .navbar-item:active {
        background-color: white;
    }
    .navbar-item p {
        display: none;
    }
    .navbar-item-desktop-hidden {
        display: block;
    }
    .navbar-item-tablet-hidden {
        display: none;
    }
}
