.t-modal-wrapper {
  background-color: rgb(0, 0, 0, 0.6);
  position: fixed;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.t-modal {
  background-color: white;
  width: fit-content;
  height: fit-content;
  max-height: 90vh;
  max-width: 90vw;
  overflow: auto;
  border-radius: 10px;
  padding: 10px;
}
.t-modal-close-wrap {
  display: flex;
  justify-content: flex-end;
}
.t-modal-close {
  font-size: 30px;
  cursor: pointer;
}
