.t-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid var(--lightGray);
    border-radius: 5px;
    padding: 5px;
}
.t-input label {
    font-size: 12px;
    color: grey;
    text-overflow: ellipsis;
}
.t-input input {
    outline: none;
    border: none;
    font-size: 17px;
}