.signup {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(128, 128, 128, 0.5);
}
.signup-content {
    width: 30%;
    height: 70%;
    padding: 1% 2%;
    border-radius: 15px;
    background-color: white;
}
.signup-google-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}
.signup-content-top {
    display: flex;
    color: transparent;
    align-items: center;
    justify-content: space-between;
}
.signup-content-dob {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.signup-content h2 {
    font-size: 24px;
    padding-bottom: 10px;
}
.signup-content p {
    color: gray;
    font-size: 14px;
    margin-top: 5px;
}