@media only screen and (max-width: 500px) {
    .signup-content {
        width: 100%;
        height: 100%;
        padding: 2% 4%;
        border-radius: 0px;
    }
    .signup-input {
        height: 45px !important;
    }
}
