@media only screen and (max-width: 1025px) {
    .signup-content {
        width: 80%;
        height: 80%;
        padding: 2% 4%;
    }
}

@media only screen and (min-width: 700px) and (max-width: 1025px) {
    .signup-content {
        width: 80%;
        height: 50%;
    }
}
