.t-icon {
    padding: 5px;
    border-radius: 100px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
}
.t-icon:hover {
    background-color: #E8F4FE;
}
.t-icon svg {
    color: dodgerblue;
}