@media only screen and (max-width: 500px) {
    .t-avatar-medium, .t-avatar-medium img {
        height: 40px;
        width: 40px;
    }
    .t-avatar-small, .t-avatar-small img {
        height: 35px;
        width: 35px;
    }
}
