/* https://music.youtube.com/watch?v=hZ47DuwmqVU&list=RDAMVMyb-FZqDAQqI */
.signin {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.signin-content-links {
    display: flex;
    align-items: center;
    justify-content: center;
    color: dodgerblue;
    font-size: 14px;
}
.signin form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}