@media only screen and (max-width: 500px) {
    .nn-wrapper {
        display: block;
    }
    .nn-navbar {
        bottom: 0;
        width: fit-content;
        height: fit-content;
    }
    .nn-child {
        width: 100%;
    }
    .nn-news {
        display: none;
    }
}
