.t-button {
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 100px;
    font-size: 15px;
    font-weight: 600;
    transition: all 0.3s ease;
}

/* Solid */
.t-button-solid {
    color: white;
}
.t-button-solid:hover {
    filter: brightness(92%);
}

.t-button-disabled {
    cursor: not-allowed;
    opacity: 0.6;
}
