.tweet-maker {
    background-color: white;
    display: flex;
    padding: 15px 20px;
}
.tm-body {
    padding-left: 10px;
    width: 100%;
}
.tm-body textarea {
    width: 98%;
    min-height: 60px;
    resize: none;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    outline: none;
    border: none;
}
.tm-body textarea::placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}
.tm-body-visibility {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    cursor: pointer;
    font-size: 15px;
    border-radius: 100px;
    font-weight: 600;
    padding: 2px 10px;
    margin-bottom: 10px;
}
.tm-body-visibility svg {
    height: 25px;
    width: 25px;
    padding-right: 5px;
}

.tm-body-foot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 10px;
    border-top: 1px solid rgb(220, 220, 220);
}
.tm-body-foot-panel {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tm-body-foot-panel svg {
    cursor: pointer;
    height: 24px;
    width: 24px;
}
.tm-body-foot-panel-item {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}
