.t-home {
    width: 100%;
    background-color: #F7F9FA;
}
.home-tweetmaker {
    border-bottom: 1px solid rgb(220, 220, 220);
    padding-top: 55px;
}
.home-tweets {
    border-top: 1px solid rgb(220, 220, 220);
    margin-top: 15px;
}