.landing {
    display: flex;
    height: 100vh;
}
.lan-left {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: dodgerblue;
}

.lan-left-icon svg {
    color: white !important;
    height: 500px !important;
    width: 500px !important;
    border-radius: 1000px;
}
.lan-left-icon svg:hover {
    color: rgb(231, 243, 255) !important;
}
.lan-left-icon:hover {
    background-color: dodgerblue !important;
}
.lan-right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lan-right-box {
    width: 42%;
}

.lan-btn {
    margin-top: 20px;
}