.nn-child-head-data h3 {
    font-size: 16px;
}
.nn-child-head-data p {
    font-size: 13px;
    color: gray;
}
.profile-cover {
    width: 100%;
    min-height: fit-content;
    max-height: 250px;
    padding-top: 55px;
    /* overflow-y: hidden; */
    background-color: darkgray;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-cover img {
    width: 100%;
    height: auto;
}
.profile-data {
    padding: 0 20px;
}
.profile-data p {
    color: gray;
    font-size: 14px;
}
.profile-data-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile-data-main-left img {
    border: 4px solid white;
}
.profile-data-main-left h3 {
    padding-top: 5px;
}
.profile-data-sub-blocks {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 12px;
}
.profile-data-sub-blocks span {
    font-size: 15px;
}
.profile-data-sub-block {
    display: flex;
    align-items: center;
    font-size: 14px;
    padding-right: 20px;
}
.profile-data-sub-block p,
.profile-data-sub-block a {
    padding-left: 5px;
}
.profile-data-sub-block svg {
    width: 20px;
    height: 20px;
    color: gray;
}