.tabbar {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
}
.tabbar p {
    width: 100%;
    min-width: fit-content;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 50px;
    font-size: 14px;
    font-weight: 700;
}
