.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    height: 100vh;
    padding: 10px 0;
    width: 270px;
    background-color: white;
    z-index: 100;
}

.navbar-t-button {
    margin-top: 10px;
    z-index: 100;
    opacity: 1;
}
.navbar-user-card {
    width: 250px !important;
}
.navbar-t-button svg, .navbar-user-icon {
    display: none !important;
}
