@media only screen and (max-width: 500px) {
    .navbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100vw !important;
        height: 64px;
        bottom: 0;
        padding: 0;
        border: none;
        /* padding: 5px 0; */
    }
    .navbar-items {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }
    .navbar-t-button {
        height: 60px !important;
        width: 60px !important;
        position: fixed;
        bottom: 70px;
        right: 20px;
    }
    .navbar-t-icon, .navbar-user-card, .navbar-user-icon {
        display: none !important;
    }
}
