@media only screen and (max-width: 1025px) {
    .navbar {
        width: 64px;
        position: fixed;
        left: 0;
    }
    .navbar-items, .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navbar-t-button {
        height: 46px !important;
        width: 46px !important;
    }
    .navbar-t-button svg, .navbar-user-icon {
        display: block !important;
    }
    .navbar-t-button p, .navbar-user-card {
        display: none !important;
    }
}
