.tweet {
    display: flex;
    padding: 15px 20px;
    border-bottom: 1px solid rgb(220, 220, 220);
    background-color: white;
    font-size: 14px;
    border-radius: 1px;
}
.tweet-body {
    margin-left: 10px;
}
.tweet-body-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tweet-body-top span:nth-child(2),
.tweet-body-top p,
.tweet-body-top h4 {
    color: gray;
    font-weight: 400;
}
.tweet-body-top-author {
    display: flex;
    align-items: center;
}
.tweet-body-content {
    padding-top: 5px;
}
.tweet-body-content img {
    border-radius: 15px;
    min-height: 150px;
    min-width: 98%;
    width: 100%;
    height: auto;
    border: 0.5px solid darkgray;
    margin-top: 10px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.tweet-body-panel {
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: space-between;
    margin-top: 10px;
}
.tweet-body-panel-item {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.tweet-body-panel-item p {
    padding-left: 4px;
}
.t-rotate {
    transform: rotate(-90deg);
    z-index: 1;
}
.tbp-stud {
    height: 40px;
    width: 40px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tbp-stud span, .tbp-stud svg {
    height: 20px;
    width: 20px;
    font-size: 20px;
}

.tbp-item-reply:hover  > .tbp-stud,
.tbp-item-share:hover  > .tbp-stud {
    background-color: #E1EEF7;
}
.tbp-item-reply:hover, .tbp-item-share:hover, 
.tbp-item-reply-active, .tbp-item-share-active {
    color: #45A2F2;
}

.tbp-item-retweet:hover  > .tbp-stud {
    background-color: #E0F2E8;
}
.tbp-item-retweet:hover, .tbp-item-retweet-active {
    color: #48b83c;
}

.tbp-item-like:hover > .tbp-stud {
    background-color: #F5E1E7;
}
.tbp-item-like:hover, .tbp-item-like-active {
    color: #E34F5D;
}